body {
    background-color: cyan;
}

.class-for-index {
    color: black;
}

.class-for-page {
    color: blue;
}

button {
    border: 2px solid yellow;
    color: white;
    background-color: black;
    font-size: 30px;
}

button:hover {
    border: 2px solid yellow;
    color: Aqua;
    background-color: black;
    font-size: 30px;
}
